<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeAkaB51H-_Yx_33srsIw3D47u41bfvEA</string>
	<key>GCM_SENDER_ID</key>
	<string>329205810284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teknotesFinal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>teknotes-79764</string>
	<key>STORAGE_BUCKET</key>
	<string>teknotes-79764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329205810284:ios:56394709583b579e9c4449</string>
</dict>
</plist>